<div class="header">
  Pages
</div>
<div class="content">
  <ul>
    <Tree [nodes]="tree">
        
    </Tree>
   <!-- <li class="">
      <a style="padding-left: 16px">
      <span class="caret"></span>
      
      <span class="t">Registrate</span>
      </a>
    </li>
    <li class="">
      <a style="padding-left: 16px">
      <span class="caret"></span>
      <span class="t">Registrate</span>
      </a>
    </li>
    <li class="">
      <a style="padding-left: 16px">
      <span class="caret"></span>
      <span class="t">Registrate</span>
      </a>
    </li>
    <li class="">
      <a style="padding-left: 16px">
      <span class="caret"></span>
      <span class="t">Registrate</span>
      </a>
    </li>-->
  </ul>
</div>