<div class="header">
 Components
</div>
<div class="content">
  <ul>
    <li class="" dnd-draggable [dragEnabled]="true" [dragData]="'Button'">
      <a style="padding-left: 16px">
      <span class="t">Button</span>
      </a>
    </li>
    <li class="" dnd-draggable [dragEnabled]="true">
      <a style="padding-left: 16px">
      <span class="t">Panel</span>
      </a>
    </li>
    <li class="" dnd-draggable [dragEnabled]="true">
      <a style="padding-left: 16px">
      <span class="t">Input</span>
      </a>
    </li>
    <li class="">
      <a style="padding-left: 16px">
      <span class="t">Image</span>
      </a>
    </li>
  </ul>
</div>